<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@post.body) %>
</p>

<p id="author">
  <b>By:</b>
  <%= @post.author.email %></br>
  <b>At:</b>
  <%= I18n.localize @post.created_at, format: :short %>
</p>

<p id="status">
  <b>Status:</b>
  <%= @post.published? ? "Published" : "Unpublished" %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<br/><br/>
<% @post.comments.each do |comment| %>

  <% if comment.approved || current_user.editor? %>
    Name: <%= comment.author %><br/>
    Website: <%= comment.author_url %><br/>
    Email: <%= comment.author_email %><br/>
    Comment: <%= comment.content %>
    <p id="status">
      <b>Status:</b>
      <% if comment.approved %>
        <%= "Approved" %>
      <% else %>
        <%= "Not Approved" %>
      <% end %>
    </p>
    <% if current_user %>
      <% if comment.author_email == current_user.email || current_user.editor? %>
        <%= link_to 'Edit', edit_comment_path(comment) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<br/><br/>
Add a comment: <br/><br/>
<% if current_user %>
  <%= render 'comments/comment_form' %>
<% else %>
  <%= link_to 'Sign In with Twitter', '/users/auth/twitter' %>
<% end %>
